@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron text-center">
    <h1 class="text-bold">ASP.NetCore MVC Apex Chart</h1>
    <p class="lead">Explore a variety of charts using ApexCharts with ASP.NET MVC. Use the navigation bar above to browse through different chart types.</p>
    <hr class="my-4">
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-3 mb-4">
            <div class="card">
                <img src="~/Images/sample-line-chart.png" class="card-img-top p-3" alt="Line Charts">
                <div class="card-body">
                    <h5 class="card-title">Line Charts</h5>
                    <p class="card-text">Line charts are used to represent data points over time. They are ideal for showing trends.</p>
                    <a href="@Url.Action("LineChart", "ChartDemo")" class="btn btn-secondary">View Line Charts &raquo;</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mb-4">
            <div class="card">
                <img src="~/Images/sample-bar-chart.png" class="card-img-top p-3" alt="Bar Charts">
                <div class="card-body">
                    <h5 class="card-title">Bar Charts</h5>
                    <p class="card-text">Bar charts represent data with rectangular bars. They are useful for comparing quantities.</p>
                    <a href="@Url.Action("BarChart", "ChartDemo")" class="btn btn-secondary">View Bar Charts &raquo;</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mb-4">
            <div class="card">
                <img src="~/Images/sample-pie-chart.png" class="card-img-top p-3" alt="Pie Charts">
                <div class="card-body">
                    <h5 class="card-title">Pie Charts</h5>
                    <p class="card-text">Pie charts display data as slices of a circle.</p>
                    <a href="@Url.Action("PieChart", "ChartDemo")" class="btn btn-secondary">View Pie Charts &raquo;</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mb-4">
            <div class="card">
                <img src="~/Images/sample-column-chart.png" class="card-img-top p-3" alt="Column Charts">
                <div class="card-body">
                    <h5 class="card-title">Column Charts</h5>
                    <p class="card-text">Column charts use vertical bars to show data. They are useful for showing changes over time.</p>
                    <a href="@Url.Action("ColumnChart", "ChartDemo")" class="btn btn-secondary">View Column Charts &raquo;</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 mb-4">
            <div class="card">
                <img src="~/Images/sample-funnel-chart.png" class="card-img-top p-3" alt="Funnel Charts">
                <div class="card-body">
                    <h5 class="card-title">Funnel Charts</h5>
                    <p class="card-text">Funnel charts are useful for showing the progressive reduction of data.</p>
                    <a href="@Url.Action("FunnelChart", "ChartDemo")" class="btn btn-secondary">View Funnel Charts &raquo;</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mb-4">
            <div class="card">
                <img src="~/Images/sample-more-chart.jpeg" class="card-img-top p-3" alt="More Charts">
                <div class="card-body">
                    <h5 class="card-title">More Charts</h5>
                    <p class="card-text">Explore more chart types ...</p>
                    <a href="@Url.Action("Index", "Home")" class="btn btn-secondary">Explore More &raquo;</a>
                </div>
            </div>
        </div>
    </div>
</div>
